@page
@model IndexModel
@{
    ViewData["Title"] = "Statistics Page";
}

<div class="text-center">
    <h1 class="display-4">Statistics</h1>
    <p>Enter one, two or three numerical numbers and click the calculate button to get their statistics</p>

</div>
